@font-face {
  font-family: "heavy_dataregular";
  src: url("police/heavy_data-webfont.eot");
  src: url("police/heavy_data-webfont.eot?#iefix") format("embedded-opentype"),
    url("police/heavy_data-webfont.woff2") format("woff2"),
    url("police/heavy_data-webfont.woff") format("woff"),
    url("police/heavy_data-webfont.ttf") format("truetype"),
    url("police/heavy_data-webfont.svg#heavy_dataregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* CSS GLOBAL POUR LES TROIS PAGES */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.81' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

body {
  display: flex;
  flex-direction: row;
}

header {
  width: 20%;
  background-color: black;
  min-height: 100vh;
}

#logo {
  width: 75%;
  margin: 2em 0 0 2em;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 17%;
  padding-left: 13%;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1em;
  margin-top: 10%;
}

.icones {
  margin-left: 27%;
  opacity: 80%;
}

/* CSS ACCUEIL*/

.connex {
  background-color: white;
  color: black;
  width: 100%;
  height: 30%;
  padding: 2%;
}

#freshnews {
  background-color: white;
  width: 65em;
  min-height: 100vh;
  padding-bottom: 2em;
}

#presentadherent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

#presentslash {
  width: 40em;
  background-color: black;
  height: 20em;
}

#titleslash {
  font-family: "Bebas Neue", cursive;
  font-size: 10em;
  padding-right: 0.2em;
}

#titleslash,
#textslash {
  text-align: right;
  color: white;
}

#textslash {
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.9em;
  margin: -1em 2em 0 1em;
  line-height: 1.5em;
}

#adherent {
  margin-top: 9em;
}

#identity {
  font-family: "heavy_dataregular";
  font-size: 2em;
  text-align: center;
  margin: 0.5em 0 0.3em 0;
}

#identity2 {
  font-family: "heavy_dataregular";
  font-size: 2em;
  text-align: center;
  margin: 0.7em 0 0.2em 0;
}

#retro {
  width: 11em;
  margin: -7.5em 0 0 6.5em;
}

.button1 {
  margin-left: 15em;
  width: 8em;
  display: inline-block;
  height: 1.2em;
}

.button2 {
  display: inline-block;
}

.button1,
.button2 {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}
.button1,
.button2 {
  margin: 7px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

.button1:hover,
.button2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.buttons {
  margin: -0.7em 0 0 3em;
}

/*CSS ARTICLE PROTHESE*/

#press1 {
  display: flex;
  flex-direction: row;
}

#prothese {
  width: 35em;
  height: 21em;
}

#articleprothese {
  text-align: right;
  margin: 2em 2em 0 2em;
}

#titleprothese {
  margin: 0.5em 0 0.8em 0;
}

#lienarticle {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5em;
  color: black;
}

#lienarticle:hover {
  color: rgb(77, 75, 75);
}

#articleprothese h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-decoration: underline;
}

.p1 {
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0.5em 0 1em 0;
}

.p2 {
  font-family: "Courier Prime", monospace;
  line-height: 2em;
  font-size: 0.8em;
}

/* CSS ARTICLES*/

.articlerow {
  display: flex;
  flex-direction: row;
}

#console,
#conchita,
#vino {
  width: 95%;
  margin-top: -0.2em;
}

#vino {
  width: 20.1em;
  margin-left: -1.05em;
}

#console {
  width: 20em;
  padding-left: 2em;
}

.articleculture h3,
.articlefood h3,
.articlegame h3 {
  margin: 1em 1em 0 1.5em;
}

.articleculture h6,
.articlefood h6,
.articlegame h6 {
  margin: 2em 1em 0 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-decoration: underline;
}

#lienarticle2,
#lienarticle3,
#lienarticle4 {
  font-family: "Archivo Black", sans-serif;
  font-size: 0.9em;
  color: black;
}

#lienarticle2:hover,
#lienarticle3:hover,
#lienarticle4:hover {
  color: rgb(77, 75, 75);
}

.p3 {
  margin: 1em 1em 0 1.5em;
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.5em;
}

.p4 {
  font-family: "Courier Prime", monospace;
  font-size: 0.8em;
  margin-top: -0.1em;
  margin: 1em 1em 0 1.5em;
}

/* CSS INSCRIPTION */

#formulaireconnex {
  display: flex;
  flex-direction: row;
}

.inscription {
  margin: 10em 0 0 0.5em;
  text-align: left;
  background-color: #fff7f7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding: 2em 2em 1em 2em;
  box-shadow: 7px 5px 5px grey;
  border-radius: 1em;
  width: 25em;
}

legend {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
}

.inputDiv {
  display: flex;
  justify-content: space-between;
}

.ins {
  font-family: "Nova Flat", cursive;
  font-size: 1em;
  color: black;
}

.place {
  border-radius: 0.5em;
  font-family: "Courier Prime", monospace;
  padding-left: 0.5em;
  color: black;
  width: 50%;
  height: 2em;
  margin-left: -3em;
}

span {
  font-size: 0.8em;
  opacity: 90%;
}

aside {
  width: 25em;
  background-color: white;
  min-height: 100vh;
  margin-left: 11.4em;
}

#button {
  background-color: transparent;
  border: black solid 1px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: "heavy_dataregular";
  margin-left: 120px;
}

#buttonvalid {
  background-color: transparent;
  border: black solid 1px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: "heavy_dataregular";
  margin-left: 8em;
}

#buttondeco {
  background-color: transparent;
  border: white solid 1px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: "heavy_dataregular";
  margin: 2em 0 0 2.5em;
}

#journalism1 {
  width: 20em;
  margin: 3em 0 0 3em;
}

.titleaside1 {
  font-size: 2.5em;
  text-align: right;
  font-family: "Bebas Neue", cursive;
  padding-right: 0.5em;
}

/* CSS CONNEXION */

.connexion {
  margin: 10em 0 0 0.5em;
  text-align: left;
  background-color: #fff7f7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding: 2em 2em 1em 2em;
  box-shadow: 7px 5px 5px grey;
  border-radius: 1em;
  width: 20em;
}

.form {
  margin-top: 15em;
}

.loginexist {
  color: red;
  font-size: 12px;
  padding-top: 1em;
  font-family: "Courier Prime", monospace;
}

.titleaside {
  font-family: "heavy_dataregular";
  font-size: 1.8em;
  text-align: center;
  padding-right: 0.5em;
  padding-left: 1em;
}

#journalism2 {
  width: 15em;
  margin: 8em 0 1em 5em;
}

/* CSS PROFIL */

#titlecompte {
  font-family: "heavy_dataregular";
  font-size: 3em;
  padding: 0.3em 0 0 1em;
  color: white;
}

#textmodif {
  margin-left: 3.5em;
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.9em;
  color: white;
  padding-bottom: 2em;
}

#titlesmodif {
  background-color: black;
  height: 6em;
}

#form3 {
  margin: -6em 0 0 3em;
}

#freshnews2 {
  background-color: white;
  width: 45em;
  min-height: 90vh;
  margin-top: 2em;
  background-image: url("images/profil.jpg");
  background-size: cover;
}

.inscription2 {
  margin: 10em 0 0 2.5em;
  text-align: left;
  background-color: #fff7f7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding: 2em;
  box-shadow: 7px 5px 5px grey;
  border-radius: 5px;
  width: 30em;
}

/* CSS ADMIN */

table {
  width: 80%;
  margin: 5em 0 0 2.5em;
  background-color: white;
}

thead {
  background-color: black;
}

thead th {
  color: white;
  padding: 1em;
  font-family: "Permanent Marker", cursive;
  font-size: 1.3em;
}

table td {
  padding: 1em;
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.9em;
  text-align: center;
}

#freshnews3 {
  background-image: url("images/admin.jpg");
  background-size: cover;
  width: 65em;
  min-height: 100vh;
  margin-top: 1em;
}
